@model IEnumerable<Dweb_Projeto.Models.Publicacao>

@{
    ViewData["Title"] = "Publicacoes";
}

<h1>Publicacoes</h1>

<p>
    <a asp-action="Create">Adicionar uma nova publicacao</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @*
                  @Html.DisplayFor(modelItem => item.Foto)
                *@
                    <img src="~/Imagens/@item.Foto"
                         alt="foto da publicacao @item.Titulo"
                         title="@item.Titulo"
                         width="75px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.UserID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PostId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
