@model IEnumerable<Dweb_Projeto.Models.Utilizador>

@{
    ViewData["Title"] = "Utilizadores";
}

<h1>Utilizadores</h1>

<p>
    <a asp-action="Create">Adicionar um novo utilizador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @*
                @Html.DisplayFor(modelItem => item.Foto)
                *@
                    <img src="~/Imagens/@item.Foto"
                         alt="logótipo do curso @item.Nome"
                         title="@item.Nome"
                         width="75px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.UserID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.UserID">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
